@import 'base/reset';
@import 'base/color';
@import 'layout/header';
@import 'layout/footer';
@import 'utils/mixins';
@import 'components/cards';
@import 'components/menu-card';
@import 'components/gradient-button';
@import 'components/operating';
@import 'animations/heart';
@import 'animations/keyframes';


.restaurants {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 66px;
  background-color: $light-grey;

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 18px;
    border-radius: 15px;
  }

  &__new-note {
    position: absolute;
    display: flex;
    padding: 6px 9px;
    right: 17px;
    margin-top: 15px;
    font-size: 14px;
    color: $dark-green;
    background-color: $third-color;
    border-radius: 2px;
  }

  img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    height: 230px;
  }
  &__card-content {
    position: relative;
    margin-left: 13px;
  }
}

///////*Resttaurants*///////

.header__restaurant {
  height: 250px;
}

.header__restaurant-img {
  width: 100%;
  position: relative;
}

.fa-arrow-left {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.menu {
  overflow: hidden;
  position: relative;
  top: -20px;
  margin-bottom: -20px;
  z-index: 1;
  padding: 0 17px 17px 17px;
  border-radius: 40px 40px 0 0;
  background-color: $light-grey;

  &__title {
    margin-top: 32px;
    position: relative;
  }
  &__title-h3 {
    font-family: 'Shrikhand';
    font-size: 28px;
    margin: 0;
    font-weight: 400;
  }
}

.menu-section {
  &__category {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 40px;

    &::after {
      display: block;
      bottom: 2px;
      content: '';
      width: 40px;
      height: 4px;
      margin-top: 7px;
      background-color: $third-color;
    }
  }
}

///////*Nouveau card*///


.order {
  display: flex;
  justify-content: center;
}
.order-button {
  @include button(16px 49px, 40px 0);

  &:hover {
    filter: brightness(1.2);
  }
}

///////*Animations*///////

.section-delay1 {
  animation: section both 600ms ease-in-out;
  opacity: 0;
}

.section-delay2 {
  animation: section both 600ms 200ms ease-in-out;
  opacity: 0;
}

.section-delay3 {
  animation: section both 600ms 400ms ease-in-out;
  opacity: 0;
}
