* {
  font-family: 'Roboto', sans-serif;
}

$main-color: #9356dc;
$secondary-color: #f2f2f2;
$third-color: #99e2d0;
$light-grey: #f6f6f6;
$light-medium-grey: #eaeaea;
$medium-grey: #7e7e7e;
$dark-grey: #353535;
$button-gradient: linear-gradient(0deg, #9356dc, #ff79d9);
$dark-green: #008766;

a {
  color: inherit;
  text-decoration: none;
}
.fa-solid {
  color: $main-color;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  font-weight: 700;
}

header {
  display: flex;
  flex-direction: column;

  .header__banner {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0 20px 0;
    position: relative;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }
  .header__logo {
    width: 162px;
  }

  .header__location {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: $dark-grey;
    background: $light-medium-grey;

    i {
      margin-right: 17px;
      color: $dark-grey;
    }
  }
}

.card-title {
  margin: 16px 0 5px 0;
}
.card-subtitle {
  margin: 0 0 12px 0;
}

.heart {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  right: 43px;
  font-size: 22px;
}

.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 0 57px 0;
  background-color: $light-grey;

  .gradient-button {
    border-radius: 25px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background: $button-gradient;
    padding: 13px 19px;
    margin-top: 27px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
  }
}

.operating {
  display: flex;
  flex-direction: column;
  padding: 20px;

  &__button {
    display: flex;
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    top: 27px;
    left: 20px;
    font-size: 14px;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    background-color: $main-color;
    color: white;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    border-radius: 20px;
    background-color: $light-grey;
    gap: 10px;
    padding: 28px 38px;
    margin-left: 10px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: $light-grey;

  &__card {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 18px;
    border-radius: 15px;
  }

  &__new-button {
    position: absolute;
    display: flex;
    padding: 6px 9px;
    right: 35px;
    font-size: 14px;
    color: $dark-green;
    background-color: $third-color;
    border-radius: 2px;
  }

  img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    height: 230px;
  }
  &__card-content {
    margin-left: 13px;
  }
}

.column-footer {
  display: flex;
  flex-direction: column;
  background-color: $dark-grey;
  padding: 22px 25px;
  margin-top: 66px;

  &__logo-footer {
    font-family: 'Shrikhand';
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin: 0 0 16px 0;
  }

  &__block-1 {
    display: flex;
    flex-direction: column;
    color: white;
    row-gap: 7px;
  }

  &__text-block-1 {
    display: flex;
    font-weight: 500;
    margin: 0;
    gap: 11px;
    color: white;

    i {
      width: 12px;
      color: white;
    }
  }

  &__block-2 {
    display: flex;
    flex-direction: column;
    color: white;
    row-gap: 7px;
    margin-top: 7px;
  }

  &__text-block-2 {
    margin: 0;
  }
}
