
@import "../base/color";


.column-footer {
  display: flex;
  flex-direction: column;
  background-color: $dark-grey;
  padding: 22px 25px;

  &__logo-footer {
    font-family: 'Shrikhand';
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin: 0 0 16px 0;
  }

  &__block-1 {
    display: flex;
    flex-direction: column;
    color: white;
    row-gap: 7px;
  }

  &__text-block-1 {
    display: flex;
    font-weight: 500;
    margin: 0;
    gap: 11px;
    color: white;

    i {
      width: 12px;
      color: white;
    }
  }

  &__block-2 {
    display: flex;
    flex-direction: column;
    color: white;
    row-gap: 7px;
    margin-top: 7px;
  }

  &__text-block-2 {
    margin: 0;
    font-weight: 400;
  }
}