  .explore-button {
    @include button(13px 19px, 27px 0 0 0);
    cursor: pointer;

    &:hover {
      filter: brightness(1.2);
    }
  }


  .order {
  display: flex;
  justify-content: center;
}
  .order-button {
  @include button(16px 49px, 40px 0);
  cursor: pointer;

  &:hover {
    filter: brightness(1.2);
  }
}

 .gradient-button {
    @include button(13px 19px, 27px 0 0 0);

    &:hover {
      filter: brightness(1.2);
    }
  }


  ///////*Order Button*///////
  
  .order {
  display: flex;
  justify-content: center;
}
.order-button {
  @include button(16px 49px, 40px 0);

  &:hover {
    filter: brightness(1.2);
  }
}