@import '../base/color';
@import 'animations/keyframes';

$anim-dur: 800ms;
$anim-delay: $anim-dur / 8;

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
position: fixed;
  height: 100%;
  width: 100%;
  background: white;
  z-index: 1;
  opacity: 0.94;
  animation: fade 5s forwards linear;

  &__bar {
    font-family: Shrikhand;
    font-size: 50px;
    color: #9356dc;
    animation: letter $anim-dur backwards infinite linear alternate;
    @for $i from 1 through 8 {
      &--#{$i} {
        animation-delay: $anim-delay * $i;
      }
    }
  }
}

