@import '../base/color';

.explore {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 50px 57px 50px;
  background-color: $light-grey;

  & h2 {
    padding-bottom: 20px;
    margin: 0;
  }
  & h3 {
    font-weight: 300;
    margin: 0;
  }
}

.menu-card {
  position: relative;
  overflow: hidden;
  display: flex;
  background-color: white;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  margin-top: 12px;
  border-radius: 15px;
  cursor: pointer;

  &:hover > &__check {
    margin-right: 0;

    .fa-circle-check {
      transform: rotate(360deg);
      color: white;
    }
  }

  &__check {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -80px;
    color: white;
    background-color: $third-color;
    font-size: 22px;
    border-radius: 0 15px 15px 0;
    width: 80px;
    transition: ease-in-out 600ms;
  }

  &__text {
    overflow: hidden;
    padding: 15px 0 15px 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__designation {
    overflow: hidden;
    & h3 {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    & h4 {
      margin: 5px 0 0 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 300;
    }
  }
  &__price {
    display: flex;
    margin: 0 15px 0 0;
    color: $dark-grey;
  }
}

.menu {
  overflow: hidden;
  position: relative;
  top: -20px;
  margin-bottom: -20px;
  z-index: 1;
  padding: 0 17px 17px 17px;
  border-radius: 40px 40px 0 0;
  background-color: $light-grey;

  @media (min-width: 1024px) {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 210px 17px 210px;
  }

  @media (min-width: 1440px) {
    width: 1055px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 210px 17px 210px;
  }

  &__title {
    display: flex;
    margin-top: 32px;
    position: relative;

    @media (min-width: 1024px) {
      justify-content: center;
      position: relative;
    }
  }
  &__title-h3 {
    display: flex;
    font-family: 'Shrikhand';
    font-size: 28px;
    margin: 0;
    font-weight: 400;
  }
}

.menu-section {
  &__category {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 40px;

    &::after {
      display: block;
      bottom: 2px;
      content: '';
      width: 40px;
      height: 4px;
      margin-top: 7px;
      background-color: $third-color;
    }
  }
}

.fa-circle-check {
  transition: all 700ms;
  color: $third-color;
}
