@import '../base/color';

.operating {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 68px 20px;

  @media (min-width: 1024px) {
    padding: 0 40px 50px 40px;
  }
  @media (min-width: 1440px) {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  &__box {
    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;

      gap: 24px;
    }
  }

  &__button {
    display: flex;
    position: relative;
    cursor: pointer;

    &:hover {

  .fa-solid {
    color: $main-color
  }

    }

    @media (min-width: 1024px) {
      width: 100%;
      white-space: nowrap;
    }
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: absolute;
    top: 50px;
    font-size: 14px;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    background-color: $main-color;
    color: white;
  }

  &__text {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    background-color: $light-grey;
    gap: 27px;
    padding: 28px 0 28px 33px;
    margin: 25px 0 0 12px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
  & .fa-solid {
    color:$medium-grey;
    
  }

}

