$main-color: #9356dc;
$secondary-color: #f2f2f2;
$third-color: #99e2d0;
$light-grey: #f6f6f6;
$light-medium-grey: #eaeaea;
$medium-grey: #7e7e7e;
$dark-grey: #353535;
$button-gradient: linear-gradient(0deg, #9356dc, #ff79d9);
$dark-green: #008766;