* {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.fa-location-dot {
  color: #9356dc;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
}
header .header__banner {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 1024px) {
  header .header__banner {
    padding: 30px 0px;
  }
}
header .header__logo {
  width: 162px;
}
header .header__location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #353535;
  background: #eaeaea;
}
header .header__location i {
  margin-right: 17px;
  color: #353535;
}
header .header__location-text {
  width: 113px;
  background-color: #eaeaea;
  border: 0;
  font-size: 16px;
  font-weight: 500;
}

.header__restaurant {
  height: 250px;
}
@media (min-width: 1024px) {
  .header__restaurant {
    height: 342px;
  }
}

.header__restaurant-img {
  width: 100%;
  position: relative;
  height: 355px;
  -o-object-fit: cover;
     object-fit: cover;
}

.fa-arrow-left {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.column-footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 22px 25px;
}
.column-footer h4 {
  cursor: pointer;
}
@media (min-width: 1024px) {
  .column-footer {
    flex-direction: row-reverse;
    padding: 60px 25px 30px 25px;
  }
}
.column-footer__logo-footer {
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin: 0 0 16px 0;
}
@media (min-width: 1024px) {
  .column-footer__logo-footer {
    margin: 0 20px 0 0;
    line-height: 12px;
  }
}
@media (min-width: 1024px) {
  .column-footer__block {
    display: flex;
    flex-direction: reverse;
  }
}
.column-footer__block-1 {
  display: flex;
  flex-direction: column;
  color: white;
  row-gap: 7px;
}
@media (min-width: 1024px) {
  .column-footer__block-1 {
    flex-direction: row;
    margin-right: 30px;
    gap: 10px;
  }
}
.column-footer__text-block-1 {
  display: flex;
  font-weight: 500;
  margin: 0;
  gap: 11px;
  color: white;
}
.column-footer__text-block-1 i {
  width: 12px;
  color: white;
}
.column-footer__block-2 {
  display: flex;
  flex-direction: column;
  color: white;
  row-gap: 7px;
  margin-top: 7px;
}
@media (min-width: 1024px) {
  .column-footer__block-2 {
    flex-direction: row;
    margin: 0 70px 0 0;
    gap: 10px;
  }
}
.column-footer__text-block-2 {
  margin: 0;
  font-weight: 400;
}

.card-title {
  padding: 16px 0 5px 0;
  margin: 0;
}

.card-subtitle {
  padding: 0 0 18px 0;
  margin: 0;
  font-weight: 300;
}

.explore {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 50px 57px 50px;
  background-color: #f6f6f6;
}
.explore h2 {
  padding-bottom: 20px;
  margin: 0;
}
.explore h3 {
  font-weight: 300;
  margin: 0;
}

.menu-card {
  position: relative;
  overflow: hidden;
  display: flex;
  background-color: white;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  margin-top: 12px;
  border-radius: 15px;
  cursor: pointer;
}
.menu-card:hover > .menu-card__check {
  margin-right: 0;
}
.menu-card:hover > .menu-card__check .fa-circle-check {
  transform: rotate(360deg);
  color: white;
}
.menu-card__check {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -80px;
  color: white;
  background-color: #99e2d0;
  font-size: 22px;
  border-radius: 0 15px 15px 0;
  width: 80px;
  transition: ease-in-out 600ms;
}
.menu-card__text {
  overflow: hidden;
  padding: 15px 0 15px 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
.menu-card__designation {
  overflow: hidden;
}
.menu-card__designation h3 {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-card__designation h4 {
  margin: 5px 0 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 300;
}
.menu-card__price {
  display: flex;
  margin: 0 15px 0 0;
  color: #353535;
}

.menu {
  overflow: hidden;
  position: relative;
  top: -20px;
  margin-bottom: -20px;
  z-index: 1;
  padding: 0 17px 17px 17px;
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
}
@media (min-width: 1024px) {
  .menu {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 210px 17px 210px;
  }
}
@media (min-width: 1440px) {
  .menu {
    width: 1055px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 210px 17px 210px;
  }
}
.menu__title {
  display: flex;
  margin-top: 32px;
  position: relative;
}
@media (min-width: 1024px) {
  .menu__title {
    justify-content: center;
    position: relative;
  }
}
.menu__title-h3 {
  display: flex;
  font-family: "Shrikhand";
  font-size: 28px;
  margin: 0;
  font-weight: 400;
}

.menu-section__category {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 40px;
}
.menu-section__category::after {
  display: block;
  bottom: 2px;
  content: "";
  width: 40px;
  height: 4px;
  margin-top: 7px;
  background-color: #99e2d0;
}

.fa-circle-check {
  transition: all 700ms;
  color: #99e2d0;
}

.explore-button {
  font-size: 16px;
  border-radius: 25px;
  border: 0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(0deg, #9356dc, #ff79d9);
  padding: 13px 19px;
  margin: 27px 0 0 0;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.explore-button:hover {
  filter: brightness(1.2);
}

.order {
  display: flex;
  justify-content: center;
}

.order-button {
  font-size: 16px;
  border-radius: 25px;
  border: 0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(0deg, #9356dc, #ff79d9);
  padding: 16px 49px;
  margin: 40px 0;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.order-button:hover {
  filter: brightness(1.2);
}

.gradient-button {
  font-size: 16px;
  border-radius: 25px;
  border: 0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(0deg, #9356dc, #ff79d9);
  padding: 13px 19px;
  margin: 27px 0 0 0;
  text-decoration: none;
  color: white;
}
.gradient-button:hover {
  filter: brightness(1.2);
}

.order {
  display: flex;
  justify-content: center;
}

.order-button {
  font-size: 16px;
  border-radius: 25px;
  border: 0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(0deg, #9356dc, #ff79d9);
  padding: 16px 49px;
  margin: 40px 0;
  text-decoration: none;
  color: white;
}
.order-button:hover {
  filter: brightness(1.2);
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 34px 20px 66px 20px;
  background-color: #f6f6f6;
}
@media (min-width: 1024px) {
  .restaurants {
    padding: 0 40px 30px 40px;
  }
}
@media (min-width: 1440px) {
  .restaurants {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .restaurants_container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1024px) {
  .restaurants__box1 {
    display: flex;
    justify-content: space-between;
  }
}
.restaurants__card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 18px;
  border-radius: 15px;
}
@media (min-width: 1024px) {
  .restaurants__card {
    width: 450px;
  }
}
@media (min-width: 1440px) {
  .restaurants__card {
    width: 490px;
  }
}
.restaurants__new-note {
  position: absolute;
  display: flex;
  padding: 6px 9px;
  right: 17px;
  margin-top: 15px;
  font-size: 14px;
  color: #008766;
  background-color: #99e2d0;
  border-radius: 2px;
}
.restaurants img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 230px;
}
.restaurants__card-content {
  position: relative;
  padding-left: 13px;
  margin: 0;
}

@keyframes section {
  0% {
    transform: translate(400px);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes heart {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  15% {
    opacity: 0.25;
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  85% {
    opacity: 1;
    transform: scale(1.6);
  }
  95% {
    opacity: 1;
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}
@keyframes letter {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  70% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade {
  95% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader-box {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0;
  background: white;
  opacity: 0.9;
  animation: fade 3s forwards linear;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  opacity: 0.4;
}
.load__bar {
  font-family: Shrikhand;
  font-size: 50px;
  color: #9356dc;
  animation: letter 700ms backwards infinite linear alternate;
}
.load__bar--1 {
  animation-delay: 87.5ms;
}
.load__bar--2 {
  animation-delay: 175ms;
}
.load__bar--3 {
  animation-delay: 262.5ms;
}
.load__bar--4 {
  animation-delay: 350ms;
}
.load__bar--5 {
  animation-delay: 437.5ms;
}
.load__bar--6 {
  animation-delay: 525ms;
}
.load__bar--7 {
  animation-delay: 612.5ms;
}
.load__bar--8 {
  animation-delay: 700ms;
}

.load2 {
  display: flex;
  position: relative;
  z-index: 1;
  top: -4px;
  filter: brightness(1.2);
}

.operating {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 68px 20px;
}
@media (min-width: 1024px) {
  .operating {
    padding: 0 40px 50px 40px;
  }
}
@media (min-width: 1440px) {
  .operating {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1024px) {
  .operating__box {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
.operating__button {
  display: flex;
  position: relative;
  cursor: pointer;
}
.operating__button:hover .fa-solid {
  color: #9356dc;
}
@media (min-width: 1024px) {
  .operating__button {
    width: 100%;
    white-space: nowrap;
  }
}
.operating__number {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  top: 50px;
  font-size: 14px;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  background-color: #9356dc;
  color: white;
}
.operating__text {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  border-radius: 20px;
  background-color: #f6f6f6;
  gap: 27px;
  padding: 28px 0 28px 33px;
  margin: 25px 0 0 12px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.operating .fa-solid {
  color: #7e7e7e;
}

.fa-heart {
  position: absolute;
  bottom: 40px;
  right: 28px;
  font-size: 22px;
  opacity: 1;
  cursor: pointer;
}
.fa-heart::after {
  content: "";
  font: var(--fa-font-solid);
  content: "\f004";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #9356dc, #ff79d9);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
  opacity: 0;
}

.checkbox_input {
  display: none;
}

.checkbox_input:checked + .fa-heart::after {
  animation: heart 500ms both cubic-bezier(0.59, 0.68, 0.34, 0.89);
}

.menu__heart {
  position: relative;
  bottom: -30px;
  right: -135px;
}
@media (min-width: 1024px) {
  .menu__heart {
    position: relative;
    right: -80px;
  }
}

@keyframes section {
  0% {
    transform: translate(400px);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes heart {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  15% {
    opacity: 0.25;
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  85% {
    opacity: 1;
    transform: scale(1.6);
  }
  95% {
    opacity: 1;
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}
@keyframes letter {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  70% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade {
  95% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.card-delay--1 {
  animation: section both 600ms ease-in-out;
  opacity: 0;
}

.card-delay--2 {
  animation: section both 600ms 200ms ease-in-out;
  opacity: 0;
}

.card-delay--3 {
  animation: section both 600ms 400ms ease-in-out;
  opacity: 0;
}

.card-delay--4 {
  animation: section both 600ms 600ms ease-in-out;
  opacity: 0;
}/*# sourceMappingURL=style.css.map */